<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Please mention your issue here: <a href="http://www.google.com">{{message}}</a></p>
    </div>
    {{>footer}}
</body>

</html>